<h2>Persons</h2>

<button style="margin-bottom: 10px;" type="button" class="btn btn-primary" routerLink="/person/create"><span class="glyphicon glyphicon-plus"></span> Create</button>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let person of persons">
			<td>{{person.name}}</td>
		</tr>
	</tbody>
</table>
