<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <div class="navbar-nav ml-auto">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{name}}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" *ngIf="!isAuthenticated" (click)="login()">login</a>
        <a class="dropdown-item" *ngIf="isAuthenticated" (click)="logout()">logout</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
