<h2>Create Person</h2>

<form name="form" role="form" (ngSubmit)="create()" #personCreateForm="ngForm">
	<div class="form-group">
		<label class="form-control-label" for="name">Name</label>
		<input type="text" class="form-control" [(ngModel)]="person.name" id="name" name="name" #name="ngModel" placeholder="Name" required/>
	</div>

	<button type="button" class="btn btn-default" routerLink="/person/list"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
	<button type="submit" [disabled]="personCreateForm.form.invalid" class="btn btn-next btn-primary"><span class="glyphicon glyphicon-check"></span> Create</button>
</form>
